body {
    font-family: "Roboto";
    height: 100vh;
    width: 100vw;
}


/*****************************************|
|                  TopNav                 |
|*****************************************/
#navContainer {
    box-shadow: 0 4px 2px -4px black;
    padding: 0;
}

.navbar-nav{
    align-items: flex-start;
    font-size: .75em;
    width:100%;
}

.bg-light{
    background: #e3e3e3 !important;
}

.navbar-light {
    height: 10%;
}

.navbar-light .navbar-toggler {
    background-color: white;
}

#logoWrap {
    font-size: 1em;
    width: 40%;
}

#logo {
    height: 100%;
    width: 100%;
}

/****************** Nav Contents ***************/

#Difficulty{
    width: 75%;
}

.slider {
    -webkit-appearance: none;
    background: green;
    height: 15px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 75%;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #e3e3e3;
    border: 1px solid black;
    border-radius: 10%;
    cursor: pointer;
    height: 20px;
    width: 25px; 
}


/*****************************************|
|                  TopNav                 |
|*****************************************/


#bodyContainer {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: flex-start;
}

#CanvasCol {
    padding: 0 !important;
}

button {

    border: none;
    color: white;
    font-size: 24px;
    padding: 15px;
}

/******************************************|
|              Move Counter                |
|******************************************/

#CounterRow{
    margin-bottom: 70px;
}

#MoveCounter{
    border: 1px solid #e3e3e3;
}

.CounterLabel{
    background-color: #e3e3e3;
    margin:0;
    padding: 5px;
}

.CounterElement{
    display: flex;
}

#MovesMade,#MovesNeeded,#CounterTitle{
    margin:0;
    padding: 5px;
}

/******************************************|
|                 Buttons                  |
|******************************************/

.ButtonRow{
    padding 20px 0;
}

#Top {
    background-color: red;
    border-radius: 50% !important;
}

#Left {
    background-color: green;
    border-radius: 50% !important;
}

#Right {
    background-color: blue;
    border-radius: 50% !important;
}

/******************************************|
|                Media Queries             |
|******************************************/

@media only screen and (min-width: 768px) {
    .navbar-nav{
        font-size: 1em;
    }
    
    #logoWrap {
        font-size: 1em;
        width: 20%;
    }
    
    #Difficulty{
        width:60%;
    }
    
    .slider{
        width:70%;
    }
    
    #CounterRow{
        margin-bottom: 0;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .navbar-nav{
        align-items: center;
        font-size: 1.3em;
    }
    
    #TriangleRow{
        height:68%;
    }
    
    #CanvasCol{
        height:100%;
    }
    
    #BottomButtonRow{
        height:68%;
    }
}

@media only screen and (min-width: 1440px){

    #logo {
        height: 80%;
        width: 80%;
    }

}