body{
    align-items: center;
    display: flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    margin:0;
    padding: 50px 100px;
    width:100vw;
}

canvas{
    height: 75vh;
    width: 75vh;
    display: block;
}

button{
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 24px;
    padding: 15px;
}

#Top{
    background-color: red;
}

#Left{
    background-color: green;
}

#Right{
    background-color: blue;
}

